<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.ApiMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.entity.Api" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="category_id" property="categoryId" jdbcType="BIGINT" />
        <result column="api_name" property="apiName" jdbcType="VARCHAR" />
        <result column="method" property="method" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="param" property="param" jdbcType="VARCHAR" />
        <result column="authorization" property="authorization" jdbcType="VARCHAR" />
        <result column="header" property="header" jdbcType="VARCHAR" />
        <result column="body" property="body" jdbcType="CLOB" />
        <result column="pre_script" property="preScript" jdbcType="CLOB" />
        <result column="script" property="script" jdbcType="CLOB" />
        <result column="description" property="description" jdbcType="CLOB" />
        <result column="project_id" property="projectId" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="enabled" property="enabled" jdbcType="BOOLEAN" />

    </resultMap>

    <update id="disableByCategoryId" >
        update dis_api
        set enabled = 0
        where category_id = #{categoryId}
    </update>

</mapper>