<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.AppInfoMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.entity.AppInfo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="packageName" property="packageName" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="platform" property="platform" jdbcType="TINYINT" typeHandler="com.testwa.core.base.mybatis.EnumValueHandler"/>

        <result column="latestUploadTime" property="latestUploadTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="latestAppId" property="latestAppId" jdbcType="BIGINT" />

        <result column="projectId" property="projectId" jdbcType="BIGINT" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="createBy" property="createBy" jdbcType="BIGINT" />
        <result column="updateBy" property="updateBy" jdbcType="BIGINT" />
        <result column="enabled" property="enabled" jdbcType="BOOLEAN" />
        <association property="latestApp" javaType="com.testwa.distest.server.entity.App">
            <id column="latest_id" property="id"/>
            <result column="fileName" property="fileName"/>
            <result column="path" property="path"/>
            <result column="miniOSVersion" property="miniOSVersion"/>
            <result column="platformVersion" property="platformVersion"/>
            <result column="sdkBuild" property="sdkBuild"/>
            <result column="activity" property="activity"/>
            <result column="size" property="size"/>
            <result column="createTime" property="createTime"/>
            <result column="icon" property="icon"/>
            <result column="version" property="version"/>
            <result column="path" property="path"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List" >
        id, packageName, name, platform, latestAppId, projectId, createTime, createBy, enabled
    </sql>

    <select id="findBy" parameterType="com.testwa.distest.server.entity.AppInfo" resultMap="BaseResultMap" >
        SELECT t1.*, t2.*
        FROM app_info t1 left join app t2 on t1.latestAppId = t2.id
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            t1.enabled = 1
            <if test="name != null">and t1.name = #{name}</if>
            <if test="packageName != null">and t1.packageName = #{packageName}</if>
            <if test="projectId != null">and t1.projectId = #{projectId}</if>
        </trim>
    </select>

    <select id="findPage" resultMap="BaseResultMap" >
        SELECT t1.*, t2.*
        FROM app_info t1 left join app t2 on t1.latestAppId = t2.id
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            t1.enabled = 1
            <if test="query.name != null">and t1.name = #{query.name}</if>
            <if test="query.packageName != null">and t1.packageName = #{query.packageName}</if>
            <if test="query.projectId != null">and t1.projectId = #{query.projectId}</if>
        </trim>
        <if test="orderBy != null">
            order by t1.${orderBy}
        </if>
        <if test="desc != null">${desc}</if>
        limit ${offset}, ${limit}
    </select>

    <select id="findOne" parameterType="com.testwa.distest.server.entity.AppInfo" resultMap="BaseResultMap" >
        SELECT t1.*, t2.*
        FROM app_info t1 left join app t2 on t1.latestAppId = t2.id
        WHERE t1.id = #{key}
        and t1.enabled = 1
    </select>

    <select id="findOneInProject" resultMap="BaseResultMap" >
        SELECT t1.*, t2.*
        FROM app_info t1 left join app t2 on t1.latestAppId = t2.id
        WHERE t1.id = #{key}
        and t1.projectId = #{projectId}
        and t1.enabled = 1
    </select>

    <select id="findList" parameterType="com.testwa.distest.server.entity.AppInfo" resultMap="BaseResultMap" >
        SELECT t1.*, t2.*
        FROM app_info t1 left join app t2 on t1.latestAppId = t2.id
        WHERE t1.enabled = 1
        <if test="keys != null">
            and t1.id in <foreach item="id" index="index" collection="keys" open="(" separator="," close=")">#{id} </foreach>
        </if>
    </select>

    <select id="countBy" parameterType="com.testwa.distest.server.entity.AppInfo" resultType="long">
        SELECT count(1) c FROM app_info
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            enabled = 1
            <if test="name != null">and name = #{name}</if>
            <if test="packageName != null">and packageName = #{packageName}</if>
            <if test="projectId != null">and projectId = #{projectId}</if>
        </trim>
    </select>

    <update id="disable" >
        update app_info
        set enabled = 0
        where id = #{entityId}
    </update>
    <update id="disableAll" >
        update app_info
        set enabled = 0
        where id in
        <foreach item="item" index="index" collection="entityIds" open="(" separator="," close=")">#{item} </foreach>
    </update>

</mapper>