<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mvc.mapper.AppMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.core.entity.App" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="appName" property="appName" jdbcType="VARCHAR" />
        <result column="aliasName" property="aliasName" jdbcType="VARCHAR" />
        <result column="packageName" property="packageName" jdbcType="VARCHAR" />
        <result column="activity" property="activity" jdbcType="VARCHAR" />
        <result column="sdkVersion" property="sdkVersion" jdbcType="VARCHAR" />
        <result column="targetSdkVersion" property="targetSdkVersion" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="TINYINT" typeHandler="com.testwa.distest.common.mybatis.EnumValueHandler"/>
        <result column="version" property="version" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="projectId" property="projectId" jdbcType="BIGINT" />
        <result column="md5" property="md5" jdbcType="VARCHAR" />
        <result column="size" property="size" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="updateTime" property="updateTime" jdbcType="DATE" javaType="java.util.Date"/>
        <result column="createTime" property="createTime" jdbcType="DATE" javaType="java.util.Date"/>
        <result column="createBy" property="createBy" jdbcType="BIGINT" />
        <result column="updateBy" property="updateBy" jdbcType="BIGINT" />
        <result column="enabled" property="enabled" jdbcType="BOOLEAN" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, appName, aliasName, packageName, activity, sdkVersion, targetSdkVersion, type, version, path, projectId, md5, size, description, updateTime, createTime, updateBy, createBy, enabled
    </sql>

    <select id="findBy" parameterType="com.testwa.core.entity.App" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM app
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            enabled = 1
            <if test="appName != null">and appName = #{appName}</if>
            <if test="createBy != null">and createBy = #{createBy}</if>
            <if test="projectId != null">and projectId = #{projectId}</if>
        </trim>
    </select>

    <select id="findByFromProject" parameterType="java.util.Map" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM app
        WHERE enabled = 1
        AND projectId in
        <foreach item="item" index="index" collection="params.projects" open="(" separator="," close=")">#{item.id} </foreach>
        <if test="params.appName != null">and appName = #{params.appName}</if>
        <if test="params.createBy != null">and createBy = #{params.createBy}</if>
        <if test="params.projectId != null">and projectId = #{params.projectId}</if>
    </select>

</mapper>