<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.DeviceMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.entity.Device" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="deviceId" property="deviceId" jdbcType="VARCHAR" />
        <result column="phoneOS" property="phoneOS" jdbcType="TINYINT" typeHandler="com.testwa.core.base.mybatis.EnumValueHandler"/>
        <result column="onlineStatus" property="onlineStatus" jdbcType="TINYINT" typeHandler="com.testwa.core.base.mybatis.EnumValueHandler"/>
        <result column="workStatus" property="workStatus" jdbcType="TINYINT" typeHandler="com.testwa.core.base.mybatis.EnumValueHandler"/>
        <result column="debugStatus" property="debugStatus" jdbcType="TINYINT" typeHandler="com.testwa.core.base.mybatis.EnumValueHandler"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="model" property="model" jdbcType="VARCHAR" />
        <result column="brand" property="brand" jdbcType="VARCHAR" />
        <result column="lastUserToken" property="lastUserToken" jdbcType="VARCHAR" />
        <result column="lastUserId" property="lastUserId" jdbcType="BIGINT" />
        <result column="cpuabi" property="cpuabi" jdbcType="VARCHAR" />
        <result column="sdk" property="sdk" jdbcType="VARCHAR" />
        <result column="width" property="width" jdbcType="VARCHAR" />
        <result column="height" property="height" jdbcType="VARCHAR" />
        <result column="osName" property="osName" jdbcType="VARCHAR" />
        <result column="density" property="density" jdbcType="VARCHAR" />
        <result column="osVersion" property="osVersion" jdbcType="VARCHAR" />
        <result column="host" property="host" jdbcType="VARCHAR" />
        <collection property="deviceAuths" ofType="com.testwa.distest.server.entity.DeviceAuth">
            <id column="deviceAuth_id" property="id"/>
            <result column="userId" property="userId"/>
            <association property="user" javaType="com.testwa.distest.server.entity.User">
                <id column="user_id" property="id"/>
                <result column="username" property="username"/>
                <result column="email" property="email"/>
            </association>
        </collection>
    </resultMap>

    <insert id="insertAndroid" useGeneratedKeys="true"  keyProperty="id" parameterType="com.testwa.distest.server.entity.Device">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO device
        (deviceId,phoneOS,onlineStatus,workStatus,debugStatus,createTime,model,brand,cpuabi,sdk,width,height,osName,density,osVersion,host)
        VALUES
        (#{deviceId},#{phoneOS, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler},
        #{onlineStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler},
        #{debugStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler},
        #{workStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler},
        #{createTime},#{model},#{brand},#{cpuabi},#{sdk},#{width},#{height},#{osName},#{density},#{osVersion},#{host})

    </insert>
    <update id="updateAndroid" parameterType="com.testwa.distest.server.entity.Device">
        update device
        <trim prefix="SET" suffixOverrides=",">
            onlineStatus=#{onlineStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler},
            workStatus=#{workStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler},
            debugStatus=#{debugStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler},
            updateTime=#{updateTime},
            model=#{model},
            brand=#{brand},
            cpuabi=#{cpuabi},
            sdk=#{sdk},
            width=#{width},
            height=#{height},
            osName=#{osName},
            density=#{density},
            osVersion=#{osVersion},
            host=#{host},
            lastUserId=#{lastUserId},
            lastUserToken=#{lastUserToken}
        </trim>
        WHERE
        deviceId = #{deviceId}
    </update>
    <update id="updateStatus" >
        update device
        <trim prefix="SET" suffixOverrides=",">
            onlineStatus=#{status, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler},
        </trim>
        WHERE
        deviceId = #{deviceId}
    </update>
    <update id="updateWorkStatus" >
        update device
        <trim prefix="SET" suffixOverrides=",">
            workStatus=#{status, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler},
        </trim>
        WHERE
        deviceId = #{deviceId}
    </update>
    <update id="updateDebugStatus" >
        update device
        <trim prefix="SET" suffixOverrides=",">
            debugStatus=#{status, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler},
        </trim>
        WHERE
        deviceId = #{deviceId}
    </update>

    <select id="findOnlineList" parameterType="java.util.HashMap" resultMap="BaseResultMap" >
        SELECT id, deviceId, phoneOS, updateTime, model, brand, cpuabi, sdk, width, height, osName, density, host, lastUserId, 1 AS onlineStatus, workStatus, debugStatus, osVersion
        FROM device
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="deviceId != null">and deviceId = #{deviceId}</if>
            <if test="deviceIdList != null">
                and deviceId in <foreach item="devId" index="index" collection="deviceIdList" open="(" separator="," close=")">#{devId} </foreach>
            </if>
            <if test="phoneOS != null">and phoneOS = #{phoneOS}</if>
            <if test="onlineStatus != null">and onlineStatus = #{onlineStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler}</if>
            <if test="workStatus != null">and workStatus = #{workStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler}</if>
            <if test="debugStatus != null">and debugStatus = #{debugStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler}</if>
            <if test="model != null">and model = #{model}</if>
            <if test="brand != null">and brand = #{brand}</if>
            <if test="lastUserId != null">and lastUserId = #{lastUserId}</if>
            <if test="width != null">and width = #{width}</if>
            <if test="height != null">and height = #{height}</if>
            <if test="osVersion != null">and osVersion = #{osVersion}</if>
        </trim>
    </select>

    <select id="searchCloudList" parameterType="java.util.HashMap" resultMap="BaseResultMap" >
        SELECT id, deviceId, phoneOS, updateTime, model, brand, cpuabi, sdk, width, height, osName, density, host, lastUserId, 1 AS onlineStatus, workStatus, debugStatus, osVersion
        FROM device
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="deviceId != null">and deviceId = #{deviceId}</if>
            <if test="deviceIdList != null">
                and deviceId in <foreach item="devId" index="index" collection="deviceIdList" open="(" separator="," close=")">#{devId} </foreach>
            </if>
            <if test="phoneOS != null">and phoneOS = #{phoneOS}</if>
            <if test="onlineStatus != null">and onlineStatus = #{onlineStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler}</if>
            <if test="workStatus != null">and workStatus = #{workStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler}</if>
            <if test="debugStatus != null">and debugStatus = #{debugStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler}</if>
            <if test="brand != null">
                and
                (model LIKE CONCAT('%', #{brand}, '%') or brand LIKE CONCAT('%', #{brand}, '%'))
            </if>
            <if test="lastUserId != null">and lastUserId = #{lastUserId}</if>
            <if test="width != null">and width = #{width}</if>
            <if test="height != null">and height = #{height}</if>
            <if test="osVersion != null">and osVersion = #{osVersion}</if>
        </trim>
    </select>

    <select id="findListByOnlineDevice" resultMap="BaseResultMap" >
        SELECT id, deviceId, phoneOS, updateTime, model, brand, cpuabi, sdk, width, height, osName, density, host, lastUserId, osVersion, workStatus,
        <if test="onlineDeviceList != null and onlineDeviceList.size > 0">
          CASE WHEN deviceId in <foreach item="onlineDev" index="index" collection="onlineDeviceList" open="(" separator="," close=")">#{onlineDev} </foreach> THEN 1 ELSE 2 END AS onlineStatus
        </if>
        <if test="onlineDeviceList == null or onlineDeviceList.size == 0">
            2 as onlineStatus
        </if>
        FROM device
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="query.deviceId != null">and deviceId = #{query.deviceId}</if>
            <if test="query.phoneOS != null">and phoneOS = #{query.phoneOS}</if>
            <if test="query.onlineStatus != null">and onlineStatus = #{query.onlineStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler}</if>
            <if test="query.model != null">and model = #{query.model}</if>
            <if test="query.brand != null">and brand = #{query.brand}</if>
            <if test="query.lastUserId != null">and lastUserId = #{query.lastUserId}</if>
        </trim>
    </select>

    <select id="fetchList" parameterType="java.util.HashMap" resultMap="BaseResultMap" >
        SELECT device.id, device.deviceId, device.phoneOS, device.updateTime, device.model, device.brand, device.cpuabi, device.sdk, device.width, device.height, device.osName, device.osVersion, device.density, device.host,device_auth.id as deviceAuth_id,device_auth.userId,user.id as user_id,user.username as username, user.email as email,
        <if test="onlineDeviceList != null and onlineDeviceList.size > 0">
            CASE WHEN device.deviceId in <foreach item="onlineDev" index="index" collection="onlineDeviceList" open="(" separator="," close=")">#{onlineDev} </foreach> THEN 1 ELSE 2 END AS onlineStatus
        </if>
        <if test="onlineDeviceList == null or onlineDeviceList.size == 0">
            2 as onlineStatus
        </if>
        FROM device LEFT JOIN device_auth ON device.deviceId = device_auth.deviceId and device.lastUserId = device_auth.createBy LEFT JOIN user ON device_auth.userId = user.id
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="deviceId != null">and device.deviceId = #{deviceId}</if>
            <if test="deviceIdList != null">
                and device.deviceId in <foreach item="devId" index="index" collection="deviceIdList" open="(" separator="," close=")">#{devId} </foreach>
            </if>
            <if test="phoneOS != null">and device.phoneOS = #{phoneOS}</if>
            <if test="onlineStatus != null">and device.onlineStatus = #{onlineStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler}</if>
            <if test="model != null">and device.model = #{model}</if>
            <if test="brand != null">and device.brand = #{brand}</if>
            <if test="createBy != null">and device.lastUserId = #{createBy}</if>
        </trim>
    </select>

    <select id="findAll" resultMap="BaseResultMap" >
        SELECT device.*
        FROM device
        WHERE deviceId IN
        <foreach item="item" index="index" collection="deviceIds" open="(" separator="," close=")">#{item} </foreach>
    </select>

    <select id="countBy" resultType="long">
        SELECT count(1) c FROM device
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="lastUserId != null">and lastUserId = #{lastUserId}</if>
            <if test="onlineStatus != null">and device.onlineStatus = #{onlineStatus, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler}</if>
        </trim>
    </select>

    <select id="getResolutionCategory" resultType="com.testwa.distest.server.service.device.dto.DeviceOneCategoryResultDTO">
        select concat(width, 'x', height) as name, count(1) value
        from device
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            width != '' and height != ''
            and deviceId in <foreach item="devId" index="index" collection="deviceIds" open="(" separator="," close=")">#{devId} </foreach>
        </trim>
        group by concat(width, 'x', height)
    </select>

    <select id="getOSVersionCategory" resultType="com.testwa.distest.server.service.device.dto.DeviceOneCategoryResultDTO">
        select osVersion as name, count(1) value
        from device
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            osVersion is not null
            and deviceId in <foreach item="devId" index="index" collection="deviceIds" open="(" separator="," close=")">#{devId} </foreach>
        </trim>
        group by osVersion
    </select>

    <select id="getBrandCategory" resultType="com.testwa.distest.server.service.device.dto.DeviceOneCategoryResultDTO">
        select brand as name, count(1) value
        from device
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            brand is not null
            and deviceId in <foreach item="devId" index="index" collection="deviceIds" open="(" separator="," close=")">#{devId} </foreach>
        </trim>
        group by brand
    </select>

</mapper>