<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.IosDeviceDictMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.entity.IosDeviceDict" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="product_type" property="productType" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="height" property="height" jdbcType="INTEGER" />
        <result column="width" property="width" jdbcType="INTEGER" />

    </resultMap>

    <select id="findByProductType" resultMap="BaseResultMap" >
        SELECT * FROM dis_ios_device_dict
        WHERE product_type = #{productType}
    </select>

</mapper>