<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.IssueLabelMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.entity.IssueLabel" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="project_id" property="projectId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="color" property="color" jdbcType="VARCHAR" />
        <result column="num" property="num" jdbcType="BIGINT" />
        <result column="create_by" property="createBy" jdbcType="BIGINT" />
        <result column="enabled" property="enabled" jdbcType="BOOLEAN" />

    </resultMap>

    <sql id="Base_Column_List" >
        id, project_id, name, color, num,lock_version
    </sql>

    <select id="getByName" parameterType="com.testwa.distest.server.entity.IssueLabel" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM dis_issue_label
        WHERE enabled = 1 AND project_id = #{projectId} AND name = #{name}
    </select>

    <select id="listByIssueId" resultMap="BaseResultMap" >
        SELECT
        t.id, t.name, t.color, t.num
        FROM dis_issue_label t left join dis_issue_label_map m on t.id = m.label_id
        WHERE t.enabled = 1 AND m.issue_id = #{issueId}
    </select>

    <update id="incr">
        update dis_issue_label
        set num = num + 1
        where id = #{labelId}
    </update>

    <update id="decr">
        update dis_issue_label
        set num = num - 1
        where id = #{labelId} and num > 0
    </update>

    <update id="decrByProjectId">
        update dis_issue_label
        set num = num - 1
        where project_id = #{projectId} and num > 0
    </update>

</mapper>