<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.IssueLabelMapMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.entity.IssueLabelMap" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="issue_id" property="issueId" jdbcType="BIGINT" />
        <result column="label_id" property="labelId" jdbcType="BIGINT" />
        <result column="enabled" property="enabled" jdbcType="BOOLEAN" />
        <result column="lock_version" property="lockVersion" jdbcType="BIGINT" />
    </resultMap>

   <delete id="deleteByLabelId" >
       <if test="labelId != null">
       delete from dis_issue_label_map
       where label_id = #{labelId}
       </if>
   </delete>

   <delete id="deleteByIssueId" >
       <if test="issueId != null">
       delete from dis_issue_label_map
       where issue_id = #{issueId}
       </if>
   </delete>

   <delete id="deleteByIssueIdAndLabel" >
       <if test="issueId != null and labelId != null ">
       delete from dis_issue_label_map
       where issue_id = #{issueId} and label_id = #{labelId}
       </if>
   </delete>

    <select id="getByIssueIdAndLabelId"  resultMap="BaseResultMap">
        <if test="issueId != null and labelId != null ">
            select * from dis_issue_label_map
            where issue_id = #{issueId} and label_id = #{labelId}
        </if>
    </select>
</mapper>