<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.IssueMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.entity.Issue" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="issue_seq" property="issueSeq" jdbcType="BIGINT" />
        <result column="project_id" property="projectId" jdbcType="BIGINT" />
        <result column="author_id" property="authorId" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="state" property="state" jdbcType="TINYINT"  />
        <result column="comment_num" property="commentNum" jdbcType="BIGINT" />
        <result column="enabled" property="enabled" jdbcType="BOOLEAN" />
        <result column="lock_version" property="lockVersion" jdbcType="BIGINT" />
    </resultMap>

    <select id="listByCondition" resultMap="BaseResultMap" >
        SELECT distinct t.*
        FROM dis_issue t
        left join dis_issue_label_map m on t.id = m.issue_id
        left join dis_issue_assignee a on t.id = a.issue_id
        WHERE t.enabled = 1
        <if test="query.projectId != null">and t.project_id = #{query.projectId}</if>
        <if test="query.authorId != null">and t.author_id = #{query.authorId}</if>
        <if test="query.state != null">and t.state = #{query.state}</if>
        <if test="query.search != null">and t.title like CONCAT('%', #{query.search}, '%')</if>
        <if test="query.assigneeId != null">and a.assignee_id = #{query.assigneeId}</if>
        <if test="labelIds != null and labelIds.size > 0">
          and m.label_id in <foreach item="item" index="index" collection="labelIds" open="(" separator="," close=")">#{item} </foreach>
        </if>
    </select>

    <select id="getCountGroupByState" resultType="com.testwa.distest.server.service.issue.dto.IssueStateCountDTO" >
        SELECT t.state as issueState, count(distinct t.id) as countValue
        FROM dis_issue t
        left join dis_issue_label_map m on t.id = m.issue_id
        left join dis_issue_assignee a on t.id = a.issue_id
        WHERE t.enabled = 1
        <if test="query.projectId != null">and t.project_id = #{query.projectId}</if>
        <if test="query.authorId != null">and t.author_id = #{query.authorId}</if>
        <if test="query.state != null">and t.state = #{query.state}</if>
        <if test="query.search != null">and t.title like CONCAT('%', #{query.search}, '%')</if>
        <if test="query.assigneeId != null">and a.assignee_id = #{query.assigneeId}</if>
        <if test="labelIds != null and labelIds.size > 0">
          and m.label_id in <foreach item="item" index="index" collection="labelIds" open="(" separator="," close=")">#{item} </foreach>
        </if>
        group by t.state
    </select>

    <update id="incrCommentNum">
        update dis_issue
        set comment_num = comment_num + 1
        where id = #{issueId}
    </update>

    <update id="decrCommentNum">
        update dis_issue
        set comment_num = comment_num - 1
        where id = #{issueId} and comment_num > 0
    </update>

    <select id="getIssueMaxSeq"  resultMap="BaseResultMap">
        select * from dis_issue where project_id = #{projectId} order by issue_seq desc limit 1
    </select>
</mapper>