<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.LogFileMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.entity.LogFile" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
        <result column="file_name" property="filename" jdbcType="VARCHAR" />
        <result column="task_code" property="taskCode" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
    </resultMap>

    <delete id="removeFromTask" >
        DELETE FROM log_file
        WHERE task_code = #{taskCode}
    </delete>
    <select id="findOne" resultMap="BaseResultMap" >
        SELECT * FROM log_file
        WHERE task_code = #{taskCode}
        and device_id = #{deviceId}
    </select>
    <select id="fildAll" parameterType="com.testwa.distest.server.entity.LogFile" resultMap="BaseResultMap" >
        SELECT * FROM log_file
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="taskCode != null">and task_code = #{taskCode}</if>
            <if test="deviceId != null">and device_id = #{deviceId}</if>
        </trim>
    </select>

</mapper>