<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.ProjectMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.entity.Project" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="projectName" property="projectName" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="updateBy" property="updateBy" jdbcType="BIGINT"/>
        <result column="createBy" property="createBy" jdbcType="BIGINT"/>
        <result column="enabled" property="enabled" jdbcType="BOOLEAN" />

    </resultMap>

    <sql id="Base_Column_List" >
        id, projectName, description, createTime, updateTime, createBy, updateBy, enabled,lock_version
    </sql>

    <select id="findBy" parameterType="com.testwa.distest.server.entity.Project" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM project
        WHERE enabled = 1
            <if test="projectName != null">and projectName = #{projectName}</if>
            <if test="createBy != null">and createBy = #{createBy}</if>
    </select>

    <select id="findAllByUser" parameterType="java.util.Map" resultMap="BaseResultMap" >
        SELECT
        project.id, project.projectName, project.description, project.createTime, project.updateTime, project.createBy, project.updateBy, user.id as user_id, user.username, user.email
        FROM project LEFT JOIN user on project.createBy=user.id
        WHERE project.enabled = 1
        AND project.id in (select pm.projectId from project_member pm where pm.memberId = #{userId})
            <if test="projectName != null">and project.projectName = #{projectName}</if>
    </select>

    <select id="countBy" parameterType="com.testwa.distest.server.entity.Project" resultType="long" >
        SELECT count(1) c
        FROM project
        WHERE enabled = 1
            <if test="projectName != null">and projectName = #{projectName}</if>
            <if test="createBy != null">and createBy = #{createBy}</if>
    </select>

    <select id="findAllOrder" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM project
        WHERE enabled = 1
        AND id IN
        <foreach item="item" index="index" collection="projectIds" open="(" separator="," close=")">#{item} </foreach>
        ORDER BY ${order}
    </select>
    <update id="disable" >
        update project
        set enabled = 0
        where id = #{key}
    </update>
    <update id="disableAll" parameterType="java.util.List">
        update project
        set enabled = 0
        where id in
        <foreach item="item" index="index" collection="keys" open="(" separator="," close=")">#{item} </foreach>
    </update>
</mapper>