<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.ScriptMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.entity.Script" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="scriptName" property="scriptName" jdbcType="VARCHAR" />
        <result column="aliasName" property="aliasName" jdbcType="VARCHAR" />
        <result column="size" property="size" jdbcType="VARCHAR" />
        <result column="tag" property="tag" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="ln" property="ln" jdbcType="TINYINT" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="md5" property="md5" jdbcType="VARCHAR" />
        <result column="appPackage" property="appPackage" jdbcType="VARCHAR" />
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="updateBy" property="updateBy" jdbcType="BIGINT"/>
        <result column="createBy" property="createBy" jdbcType="BIGINT"/>
        <result column="enabled" property="enabled" jdbcType="BOOLEAN" />
        <association property="createUser" javaType="com.testwa.distest.server.entity.User">
            <id column="create_id" property="id"/>
            <result column="create_username" property="username"/>
            <result column="create_email" property="email"/>
            <result column="create_phone" property="mobile"/>
        </association>
        <association property="updateUser" javaType="com.testwa.distest.server.entity.User">
            <id column="update_id" property="id"/>
            <result column="update_username" property="username"/>
            <result column="update_email" property="email"/>
            <result column="update_phone" property="mobile"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List" >
        id, scriptName, aliasName, size, appPackage, tag, description, ln, path, md5, updateTime, createTime, updateBy, createBy, enabled
    </sql>

    <select id="findOneInProject" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM script
        WHERE id = #{key}
        and projectId = #{projectId}
        and enabled = 1
    </select>
    <select id="findList" parameterType="com.testwa.distest.server.entity.Script" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM script
        WHERE enabled = 1
        <if test="keys != null">
            and id in <foreach item="id" index="index" collection="keys" open="(" separator="," close=")">#{id} </foreach>
        </if>
        <if test="projectId != null">
            and projectId = #{projectId}
        </if>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="findBy" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM script
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            enabled = 1
            <if test="entity.createBy != null">and createBy = #{entity.createBy}</if>
            <if test="entity.projectId != null">and projectId = #{entity.projectId}</if>
            <if test="entity.scriptName != null">and scriptName LIKE CONCAT('%', #{entity.scriptName}, '%')</if>
            <if test="entity.appPackage != null">and appPackage = #{entity.appPackage}</if>
            <if test="entity.md5 != null">and md5 = #{entity.md5}</if>
            <if test="startTime != null">and createTime &gt;= from_unixtime(#{startTime})</if>
            <if test="endTime != null">and createTime &lt;= from_unixtime(#{endTime})</if>
        </trim>
    </select>

    <select id="findByFromTestcase" parameterType="Long" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM script s RIGHT JOIN testcase_script t on s.id = t.scriptId
        WHERE enabled = 1
        and t.testcaseId = #{testcaseId}
    </select>

    <select id="countBy" parameterType="com.testwa.distest.server.entity.Script" resultType="long">
        SELECT count(1) c FROM script
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            enabled = 1
            <if test="enabled != null">and enabled = #{enabled}</if>
            <if test="createBy != null">and createBy = #{createBy}</if>
            <if test="projectId != null">and projectId = #{projectId}</if>
        </trim>
    </select>

    <update id="disable" >
        update script
        set enabled = 0
        where id = #{key}
    </update>
    <update id="disableAll" parameterType="java.util.List">
        update script
        set enabled = 0
        where id in
        <foreach item="item" index="index" collection="keys" open="(" separator="," close=")">#{item} </foreach>
    </update>

</mapper>