<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mvc.mapper.TaskTestcaseMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.mvc.entity.TaskTestcase" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="taskId" property="taskId" jdbcType="BIGINT"/>
        <result column="testcaseId" property="testcaseId" jdbcType="BIGINT"/>
        <result column="seq" property="seq" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, taskId, testcaseId, seq
    </sql>

    <select id="findBy" parameterType="com.testwa.distest.server.mvc.entity.TaskTestcase" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM task_testcase
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="taskId != null">and taskId = #{taskId}</if>
            <if test="testcaseId != null">and testcaseId = #{testcaseId}</if>
        </trim>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="findAllOrder" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM task
        WHERE id IN
        <foreach item="item" index="index" collection="testcaseId" open="(" separator="," close=")">#{item} </foreach>
        ORDER BY ${order}
    </select>

    <select id="countBy" resultType="long">
        SELECT count(1) c FROM task_testcase
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="taskId != null">and taskId = #{taskId}</if>
            <if test="testcaseId != null">and testcaseId = #{testcaseId}</if>
        </trim>
    </select>

    <insert id="insertAll" parameterType="java.util.List">
        INSERT INTO task_testcase (taskId, testcaseId, seq)
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            (#{item.taskId}, #{item.testcaseId}, #{item.seq})
        </foreach>
    </insert>

</mapper>