<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.TaskEnvMapper" >

    <select id="getByTaskCodeAndDeviceId" resultType="com.testwa.distest.server.entity.TaskEnv" >
        SELECT * FROM dis_task_env
        WHERE device_id = #{deviceId} and task_code = #{taskCode}
        limit 1
    </select>

</mapper>