<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.TaskMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.entity.Task" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="projectId" property="projectId" jdbcType="BIGINT"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="updateBy" property="updateBy" jdbcType="BIGINT"/>
        <result column="createBy" property="createBy" jdbcType="BIGINT"/>
        <result column="enabled" property="enabled" jdbcType="BOOLEAN" />
        <result column="endTime" property="endTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="devicesJson" property="devicesJson" jdbcType="VARCHAR" javaType="String"/>
        <result column="appJson" property="appJson" jdbcType="VARCHAR" javaType="String"/>
        <result column="testcaseJson" property="testcaseJson" jdbcType="VARCHAR" javaType="String"/>
        <result column="scriptJson" property="scriptJson" jdbcType="VARCHAR" javaType="String"/>
        <result column="taskType" property="taskType" jdbcType="TINYINT" typeHandler="com.testwa.core.base.mybatis.EnumValueHandler"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id,projectId,createTime,createBy,endTime,devicesJson,appJson,testcaseJson,scriptJson,taskType,taskName,appId
    </sql>

    <select id="findOne" parameterType="com.testwa.distest.server.entity.Task" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM task
        WHERE id = #{key}
    </select>

    <select id="findBy" parameterType="com.testwa.distest.server.entity.Task" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM task
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="createBy != null">and createBy = #{createBy}</if>
            <if test="projectId != null">and projectId = #{projectId}</if>
            <if test="appId != null">and appId = #{appId}</if>
        </trim>
    </select>

    <select id="findByFromProject" parameterType="java.util.Map" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM task
        WHERE projectId in
        <foreach item="item" index="index" collection="params.projects" open="(" separator="," close=")">#{item.id} </foreach>
        <if test="params.createBy != null">and createBy = #{params.createBy}</if>
        <if test="params.projectId != null">and projectId = #{params.projectId}</if>
        <if test="params.taskName != null">and taskName LIKE CONCAT('%', #{params.taskName}, '%')</if>
    </select>

    <select id="countBy" resultType="long">
        SELECT count(1) c FROM task
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="projectId != null">and projectId = #{projectId}</if>
            <if test="appId != null">and appId = #{appId}</if>
            <if test="taskType != null">and taskType = #{taskType, typeHandler=com.testwa.core.base.mybatis.EnumValueHandler}</if>
        </trim>
    </select>

    <update id="updateEndTime" >
        update task
        set endTime = #{endTime}
        where id = #{taskId}
    </update>
</mapper>