<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testwa.distest.server.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.testwa.distest.server.entity.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="TINYINT" typeHandler="com.testwa.core.base.mybatis.EnumValueHandler"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="header" property="header" jdbcType="VARCHAR" />
        <result column="lastPasswordResetTime" property="lastPasswordResetTime" jdbcType="DATE" javaType="java.util.Date"/>
        <result column="lastLoginTime" property="lastLoginTime" jdbcType="DATE" javaType="java.util.Date"/>
        <result column="loginTime" property="loginTime" jdbcType="DATE" javaType="java.util.Date"/>
        <result column="registerTime" property="registerTime" jdbcType="DATE" javaType="java.util.Date"/>
        <result column="loginIp" property="loginIp" jdbcType="INTEGER" />
        <result column="lastLoginIp" property="lastLoginIp" jdbcType="INTEGER" />
        <result column="enabled" property="enabled" jdbcType="BOOLEAN" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, username, password, phone, email, sex, nickname, address, country, header, lastPasswordResetTime, lastLoginTime, loginTime, registerTime, loginIp, lastLoginIp, enabled
    </sql>

    <select id="findOne" parameterType="com.testwa.distest.server.entity.User" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        WHERE id = #{key}
    </select>

    <select id="findBy" parameterType="com.testwa.distest.server.entity.User" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            enabled = 1
            <if test="username != null">and username = #{username}</if>
            <if test="email != null">and email = #{email}</if>
            <if test="phone != null">and phone = #{phone}</if>
        </trim>
    </select>
    <select id="findByUsernameList" parameterType="java.util.ArrayList" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            enabled = 1
            username in
            <foreach item="name" index="index" collection="list" open="(" separator="," close=")">#{name} </foreach>
        </trim>
    </select>
    <select id="findByEmailList" parameterType="java.util.ArrayList" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            enabled = 1
            email in
            <foreach item="email" index="index" collection="list" open="(" separator="," close=")">#{email} </foreach>
        </trim>
    </select>

</mapper>